*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.yuxariDiv{
    width: 100%;
    display:flex ;
    justify-content: space-between;

}
.elaqeInformasiya{
    display: flex;
    
}
